*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* navigation bar: logo and ul */
.logo img{
    width: 45px;
    height: 45px;
    clip-path: circle();
    margin: 3px 10px;
}
.logo{
    margin: 6px 20px;
}

#navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: #785252;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    padding: 0rem 5rem;
}
#navbar ul li{
    
}
#navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 20px;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    height: 648px;
    top: 0;
    left: 0;
    font-family: 'Bree Serif', serif;
}
#home::before{
    content: "";
    background: url('images/bg/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 75vh;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    margin: 15px;
}
#home p{
    color: white;
    font-size: 1rem;
}

/* services section */
#services{
    font-family: 'Bree Serif', serif;
    margin: 34px;
    display: flex;
}

#services-container::before{
    content: "";
    background: url('images/bg/bg3.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 58vh;
    z-index: -1;
    opacity: 0.4;
}

#services .box{
    border: 2px solid #af0e0e;
    padding: 10px 2px;
    margin: 24px;
    border-radius: 19px;
    background-color: #ebebeb;
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;

}

#services{}

/* Client Section */
#client-section{
    
}
#client-section::before{
    content: "";
    background-color: rgb(21 13 102);
    position: absolute;
    width: 100%;
    height: 45.4vh;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    align-items: center;
    justify-content: center;
}
#client img{
    height: 275px;
}

/* Contact section */
#contact{
    font-family: 'Bree Serif', serif;
    position: relative;
}
#contact::before{
    content: '';
    position: absolute;
    background: url("images/bg/bg4.jpg") no-repeat center center/cover;
    width: 100%;
    height: 71vh;
    z-index: -1;
    opacity: 0.5;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}

footer{
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 10px 0px;
}
/* utility classes */
.h-primary{
    font-size: 3.7rem;
    margin: 6.4px 14px;
}
.h-secondary{
    font-size: 2rem;
}
html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: #111;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta {
    position: relative;
    margin: 50px 10px;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: #ffab9d;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }
.center{
    text-align: center;
}
